
/* Elemento a */
a{
    color: #FFF;
    font-size: 0.8rem;
}

/* Elemnto body "corpo" */
body{
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Elemento buttom */
button{
    width: 60%;
    padding: 0.5rem 1rem;
    color: #FFF;
    background-color: #1D0C20;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Ação ao estacionar o ponterio do mouse no em um botão */
button:hover{
    background-color: #641F6F;
}

/* Elemento input */
input{
    width: 80%;
    height: 16px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 0;
    margin: 06px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #4f62d9;
}

/* Classe container */
.container{
    background: linear-gradient(180deg, #1F0C22 0%, #571557 50%, #641F6F 100%);
    margin: auto;
    width: 650px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);    
    border-radius: 10px;
    overflow: hidden;
}

/* Classe */
.header{
    padding: 0.9rem;
}

.header-title{
    color: #FECD23;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 0.2rem;
    margin-top: 0.3rem;

}

.subtitulo{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.9rem;
}

.texto-superior{
    margin: 0.1rem, 0.6rem;
    padding: 0.9rem;
    font-size: 0.9rem;
    color: #FFF;
    text-align:center;
}


.flex-container{
    height: 500px;
    background: linear-gradient(180deg, #641F6F 0%, #571557 50%, #1F0C22 100%);
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;     
    border-radius: 10px;  
    margin: 1.3rem;
    align-items: center;
}

.form-register{
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.image-group{
    text-align: center;
}

.texto-rodape{
    margin: 1rem;
    font-size: 0.8rem;
    color: #FFF;
    text-align: center;
}



.cols{
    margin-top: 0.3rem;
    display: flex;
    /* As classe .col1, 2 e 3 serão posicionados em linha */
    flex-direction: row;
}

.col1{
    background: linear-gradient(30deg, #3D5EEF 0%, #5691F6 50%, #72CCFE 100%);
    margin: 0.6rem;
    color: #FFF;
    text-align:center;
    border-image: linear-gradient(45deg, rgb(2, 0, 143), rgba(169, 181, 233, 0.63)) 1;
    border-style: solid; 
    border-width: 10px;
    border-radius: 6px;
} 

.col2{
    background: linear-gradient(180deg, #3D5EEF 0%, #5691F6 50%, #72CCFE 100%);
    margin: 0.6rem;
    color: #FFF; 
    text-align:center;
    border-image: linear-gradient(45deg, rgb(2, 0, 143), rgba(169, 181, 233, 0.63)) 1;
    border-style: solid; 
    border-width: 10px;
    border-radius: 6px;
}

.col3{
    background: linear-gradient(180deg, #3D5EEF 0%, #5691F6 50%, #72CCFE 100%);
    margin: 0.6rem;
    color: #FFF;
    text-align:center;
    border-image: linear-gradient(45deg, rgb(2, 0, 143), rgba(169, 181, 233, 0.63)) 1;
    border-style: solid; 
    border-width: 10px;
    border-radius: 6px;
}

@media screen and (max-width: 620px){
    html{
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
        height: auto;
    }

    .cols{
        flex-direction: column;
    }

    .col1, .col2, .col3{
        width: 100%;        
        box-sizing: border-box;
    }

    .container{
        width: 95%;
    }

    .header{
        padding: 15px;
    }
}

